input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #078c75 inset !important;
  -webkit-text-fill-color: #fff
}

.input-default {
  width: 100%;
  position: relative;
  align-items: center;
  padding: 6px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375em;
  background-color: rgb(7, 140, 117);
  color: rgb(255, 255, 255);
  outline: none;
  border-radius: 8px;
  border: 2px solid rgb(7, 140, 117);
}

.input-default:focus {
  outline: none;
  border: 2px solid rgb(0, 78, 180);
  box-shadow: rgb(0, 78, 180) 0px 0px 10px 0px;
}

.input-error {
  box-shadow: red 0px 0px 10px 0px
}

.helper-text--default {
  margin: 3px 0 0 14px;
  font-family: 'Roboto', sans-serif, "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6)
}

.helper-text--error {
  color: red
}
.reg-default-form {
  display: contents;
}

.reg-default-form--button {
  padding: 8px;
  background-color: #078c75;
  margin-top: 1rem;
}

.gpson-form-image {
  height: 100%;
  border-radius: 8px;
  /* border-top-left-radius: 8px;
  border-bottom-left-radius: 8px; */
}

.checkbox-text,
.back-text {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  /* font-weight: 500; */
  margin: 0;
  display: flex;
  align-items: center;
}
.checkbox-text::after {
  content: '*';
  color: red;
  font-size: 12px;
  margin-left: 4px;
}
.checkbox-text--error {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  /* font-weight: 500; */
  margin: 0;
  display: flex;
  align-items: center;
  color: red;
}

.checkbox-text--error::after {
  content: '*';
  color: red;
  font-size: 12px;

  margin-left: 4px;
}
.cp {
  cursor: pointer;
}

.back-text {
  cursor: pointer;
  margin-top: 1rem;
}
.pin-block--wrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.text_helper-imitate {
  /* margin-left: 14px;
              margin-top: 3px; */
    margin: 3px 0 0 14px;
  font-family: 'Roboto', sans-serif, "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6)
}

.text-err {
  color: red;
}
.company-name--button {
  padding: 8px;
  background-color: #078c75;
  width: 100%
}